body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

section {
	padding: 50px 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
}

h2 {
	text-align: center; /* alinea el texto l centro */
}

.btn {
	text-align: center; /* hace que el botón flote al centro */
}
.call-to-action {
	text-align: center; /* alinea el texto al centro */
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
}

/* Tarjetas */

.gallery {
	display: flex;
	flex-grow: inherit;
	justify-content: center;
}

.card {
	width: 300px;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	text-align: center;
}

.card img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	margin: 20px;
	width: 250px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
}

.card:hover {
	transform: scale(1.05);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.card img {
	width: 100%;
	height: 150px;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

.card h3 {
	margin-top: 0;
	font-weight: bold;
	color: #333;
}

.card p {
	font-size: 16px;
	color: #666;
	margin-bottom: 20px;
}

/*Carousel*/

.slide {
	position: relative;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
	margin-top: 1px;
	border-radius: 15px;
}
.slide-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: calc(300px + 3);
}
.slide-open:checked + .slide-item {
	position: static;
	opacity: 100;
}
.slide-item {
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}
.slide-item img {
	display: block;
	height: auto;
	max-width: 100%;
	border-radius: 15px;
}
.slide-control {
	background: rgba(0, 0, 0, 0.28);
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	display: none;
	font-size: 40px;
	height: 40px;
	line-height: 35px;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(0, -50%);
	cursor: pointer;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	text-align: center;
	width: 40px;
	z-index: 10;
}
.slide-control.prev {
	left: 2%;
}
.slide-control.next {
	right: 2%;
}
.slide-control:hover {
	background: rgba(0, 0, 0, 0.8);
	color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
	display: block;
}
.slide-indicador {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
.slide-indicador li {
	display: inline-block;
	margin: 0 5px;
}
.slide-circulo {
	color: #828282;
	cursor: pointer;
	display: block;
	font-size: 35px;
}
.slide-circulo:hover {
	color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked
	~ .control-3
	~ .slide-indicador
	li:nth-child(3)
	.slide-circulo {
	color: #428bca;
}
#titulo {
	width: 100%;
	position: absolute;
	padding: 0px;
	margin: 0px auto;
	text-align: center;
	font-size: 27px;
	color: rgba(255, 255, 255, 1);
	font-family: 'Open Sans', sans-serif;
	z-index: 9999;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33),
		-1px 0px 2px rgba(255, 255, 255, 0);
}

.slide-item img {
	width: 100%; /* ancho del 100% del contenedor */
	height: 300px; /* alto fijo de 300px */
	object-fit: cover; /* ajusta la imagen para que se vea completa */
}

.slide-inner {
	width: 100%;
	height: 300px; /* alto fijo de 300px */
}

.slide-control {
	font-size: 24px; /* tamaño de fuente más pequeño */
	width: 35px; /* ancho del control */
	height: 35px; /* alto del control */
	top: 50%; /* posición vertical centrada */
	transform: translateY(-10%); /* ajusta la posición vertical */
}

.slide-indicador {
	bottom: 30px; /* posición vertical ajustada */
}

/*Tabla vuelos*/

/*Tabla vuelos*/

.flights-container {
	position: fixed;
	top: 150px;
	right: 20px;
	width: 270px; /* Ancho del contenedor */
}

.flights-table {
	background-color: transparent; /* Fondo transparente */
	border: 1px solid #4682b4;
	padding: 19px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin: 0 auto; /* Centra la tabla horizontalmente */
	opacity: 0; /* La tabla es invisible al principio */
	transform: translateX(100%); /* La tabla se oculta hacia la derecha */
	transition: opacity 0.3s, transform 0.3s; /* Transición para el efecto de hover */
}

.flights-table:hover {
	opacity: 1; /* La tabla se vuelve visible cuando se pasa el puntero */
	transform: translateX(0); /* La tabla se desliza hacia la izquierda */
}

.flights-table table {
	width: 100%;
	border-collapse: collapse;
}

.flights-table th,
.flights-table td {
	border: 1px solid #4682b4;
	padding: 5px;
	text-align: left;
	font-size: 10px;
}

.flights-table th {
	background-color: #4682b4;
	color: #fff;
}
footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}
.contact-form {
	display: none;
}

#contact-form:target {
	display: block;
}
